@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

html{
  font-family: Arial, sans-serif;
  width:100%;
  height:100%;
  background-color: #22212b;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  font-family: Gloria Hallelujah, sans-serif;
  color: #22212b;
  padding: 1em;
  margin: 0px;
  background-color: #B9F1FD;
  text-align:center;
  background-image: linear-gradient(#B9F1FD, white);
}
body{
  color: #fce086;
  text-align:center;
}
h3{
  padding-top: none;
}
p{
  padding-top: none;
}
.rock-button{
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor:pointer;
}

.paper-button{
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.scissors-button{
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.row{
  display:flex;
  justify-content: space-evenly;
}
.column{
  margin-top: 50px;
  margin-bottom: 25px;
  border: 3px solid #B9F1FD;
  border-radius: 25%;
  padding: 15px;
  transition: all 0.3s ease;
}
.column:hover{
  border: 3px solid #86d943;
}
.fas {
  text-align: center;
  color: #ffcfab;
}
